html{
    font-size: 10px
}

body{
    margin: 0;     
    background-color: $light;
    font-family: Arial, Helvetica, sans-serif;
}

p,a{
    font-size: 1.6rem;
}

p{
    color: $text;
}

img{
    max-width: 100%;
}

.row{
    --bs-gutter-x: 2.4rem;
}